@nz:registry=https://us-central1-npm.pkg.dev/prj-nerdeez-common-d528/artifact-registry-npm-nerdeez/
//us-central1-npm.pkg.dev/prj-nerdeez-common-d528/artifact-registry-npm-nerdeez/:always-auth=true
@az:registry=https://us-central1-npm.pkg.dev/prj-nerdeez-common-d528/artifact-registry-npm-nerdeez/
//us-central1-npm.pkg.dev/prj-nerdeez-common-d528/artifact-registry-npm-nerdeez/:always-auth=true
