---
import StarlightPage, {
	type StarlightPageProps,
} from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection, getEntry } from 'astro:content';

/**
 * Generate static pages based on the authors collection
 */
export async function getStaticPaths() {
	const authors = await getCollection('authors');
	return authors.map((author) => ({
		params: { name: author.slug },
	}));
}

export const prerender = true;

const { name } = Astro.params;
const authorEntry = await getEntry('authors', name);
const result = await authorEntry?.render();

const props = {
	frontmatter: {
		title: 'hide me',
		template: 'splash',
		hero: {},
		publishDate: new Date(),
	},
};
---

<style is:global>
	.content-panel .hero {
		display: none;
	}
</style>

<StarlightPage {...props as StarlightPageProps}>
	{result && result.Content ? <result.Content /> : <p>Author not found.</p>}
</StarlightPage>
