---
import Default from '@astrojs/starlight/components/PageTitle.astro';
import { getEntry } from 'astro:content';

const locale = Astro.currentLocale || 'en'
const i18n = await getEntry('i18n', locale)
---

<Default {...Astro.props as any} />

<p class="text-muted-foreground">{i18n?.data['pagetitle.publish']} {new Date(Astro.props.entry.data.publishDate).toLocaleDateString(locale, {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
})}</p>
