# 
# this will run eslint, prettier and astro check
#
# Created August 22nd, 2025
# @author ywarezk
# @license MIT
# 

name: Check

on:
  pull_request:
    types: [opened, synchronize, ready_for_review, reopened]
    
concurrency:
  group: pr-${{ github.event.pull_request.number }}-check
  cancel-in-progress: true
  
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0
        with:          
          fetch-depth: 1

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
    
      - name: Setup Node.js
        uses: actions/setup-node@v3.9.1
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
              
      - name: Run checks
        run: pnpm check